body {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 50px;
    width: 1200px;
    height: 138px;
    background-color: #fff;
    margin: auto;
}
.nav1{
    margin-right: 10px;
    margin-top: 20px;
}
.nav1 li {
    display: inline-block;
    font-size: 20px;
}
.nav1 li a{
    padding-left:50px;
    color: #626262;
}

.menu{
    margin-right: 10px;
}
.menu li {
    display: inline-block;
    padding-left: 50px;
}
.menu li a{
    text-decoration: none;
    color:#000;
    font-size: 22px;
}
.logo{
    height: 138px;
    line-height: 138px;
    padding: 0;
    margin-left: 10px;
}

.row{
    height: 138px;
    line-height: 138px;
}
.out-nav{
    width: 1200px;
    height: 70px;
    margin: auto; 
}
.logo2{
    display: none;
}
